<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asteroid.expression.login.dao.LoginDao">

	<select id="checkLogin" resultType="com.asteroid.expression.user.model.User">
		select * from t_user where status = 1 and username = #{username} and password = #{password}
	</select>

	<select id="queryGroupByUserId" parameterType="int" resultType="com.asteroid.expression.user.model.Group">
		SELECT
			a.id,
			a.group_name
		FROM
			t_group a
		WHERE
			a.status = 1
			AND EXISTS (
				SELECT 1 FROM t_friend b
				WHERE b.status = 1 and b.user_id = #{id} AND b.group_id = a.id )
	</select>

	<select id="queryGroupUser" parameterType="com.asteroid.expression.user.model.Friend" resultType="com.asteroid.expression.user.model.User">
		SELECT
			a.*
		FROM
			t_user a
		WHERE
			a.status = 1
			and EXISTS (
				SELECT 1 FROM t_friend b
				WHERE b.status = 1 and b.user_id = #{user_id} AND b.group_id = #{group_id} AND b.friend_id = a.id )
	</select>

	<select id="queryAllContent" parameterType="int" resultType="java.util.Map">
		SELECT
			a.id,
			a.user_id,
			b.name,
			a.content,
			a.p_id,
			DATE_FORMAT(a.create_date,'%Y-%m-%d %H:%i:%s') create_date,
			d.id thumb,
			e.id collect
		FROM
			t_content a
			LEFT JOIN t_user b ON a.user_id = b.id
			AND b.STATUS = 1
			left join t_thumb d on a.id = d.content_id
			left join t_collect_content e on a.id = e.content_id
		WHERE
			a.STATUS = 1
			AND (a.user_id = #{id} OR EXISTS (SELECT 1 FROM t_friend c WHERE c.STATUS = 1 AND c.user_id = #{id} AND a.user_id = c.friend_id))
		ORDER BY a.create_date DESC
	</select>

	<select id="queryFileByCId" parameterType="com.asteroid.expression.user.model.ContentFile" resultType="java.util.Map">
		select id, content_id, file_name, substring(file_path, #{id}) file_path from t_content_file where content_id = #{content_id}
	</select>

	<select id="queryCommentByCId" parameterType="int" resultType="java.util.Map">
		SELECT
			a.id,
			a.content_id,
			a.user_id,
			b.name,
			b.username,
			a.friend_id,
			a.comment_text,
			a.create_date
		FROM t_comment a
		left join t_user b on a.friend_id = b.id and b.status = 1
		WHERE a.content_id = #{id}
	</select>

	<select id="queryShareByCId" parameterType="int" resultType="java.util.Map">
		SELECT
			a.id,
			a.user_id,
			b.name,
			b.username,
			a.content,
			a.p_id,
			a.create_date
		FROM t_content a
		left join t_user b on a.user_id = b.id and b.status = 1
		WHERE a.p_id = #{id}
	</select>

</mapper>