<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asteroid.expression.login.dao.LoginDao">

	<select id="checkLogin" resultType="com.asteroid.expression.user.model.User">
		select * from t_user where status = 1 username = #{username} and password = #{password}
	</select>

	<select id="queryGroupByUserId" parameterType="int" resultType="com.asteroid.expression.user.model.Group">
		SELECT
			a.id,
			a.group_name
		FROM
			t_group a
		WHERE
			a.status = 1
			AND EXISTS (
				SELECT 1 FROM t_friend b
				WHERE b.status = 1 and b.user_id = #{id} AND b.group_id = a.id )
	</select>

	<select id="queryGroupUser" parameterType="com.asteroid.expression.user.model.Friend" resultType="com.asteroid.expression.user.model.User">
		SELECT
			a.*
		FROM
			t_user a
		WHERE
			a.status = 1
			and EXISTS (
				SELECT 1 FROM t_friend b
				WHERE b.status = 1 and b.user_id = #{user_id} AND b.group_id = #{group_id} AND b.friend_id = a.id )
	</select>

</mapper>