<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asteroid.expression.user.dao.UserDao">

	<insert id="addUser" parameterType="com.asteroid.expression.user.model.User" useGeneratedKeys="true" keyProperty="id">
		insert into t_user (name, username, password, mobile, email, province, city, district, address, status, last_login_time,
		sex, label, image_name, image_path, create_date)
		values (#{name}, #{username}, #{password}, #{mobile}, #{email}, #{province}, #{city}, #{district}, #{address},
		#{status}, #{last_login_time}, #{sex}, #{label}, #{image_name}, #{image_path}, #{create_date})
	</insert>

	<select id="checkExist" parameterType="com.asteroid.expression.user.model.User" resultType="int">
		SELECT count(*) FROM t_user
		WHERE status = 1
		<if test="id!=null and id!='' ">
			AND id != #{id}
		</if>
		<if test="username!=null and username!='' ">
			AND username = #{username}
		</if>
	</select>

	<insert id="publish" parameterType="com.asteroid.expression.user.model.Content" useGeneratedKeys="true" keyProperty="id">
		insert into t_content (user_id, content, create_date, status, p_id)
		values (#{user_id}, #{content}, #{create_date}, #{status}, #{p_id})
	</insert>

	<insert id="saveContextFile" parameterType="com.asteroid.expression.user.model.ContentFile" useGeneratedKeys="true" keyProperty="id">
		insert into t_content_file (content_id, file_name, file_path)
		values (#{content_id}, #{file_name}, #{file_path})
	</insert>

	<insert id="saveThumb" parameterType="com.asteroid.expression.user.model.Thumb" useGeneratedKeys="true" keyProperty="id">
		insert into t_thumb (content_id, user_id, friend_id, create_date)
		values (#{content_id}, #{user_id}, #{friend_id}, #{create_date})
	</insert>

	<delete id="cancelThumb" parameterType="com.asteroid.expression.user.model.Thumb">
		delete from t_thumb where user_id = #{user_id} and content_id = #{content_id} and friend_id = #{friend_id}
	</delete>

	<insert id="saveComment" parameterType="com.asteroid.expression.user.model.Content" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_comment (user_id, comment_text, friend_id, content_id, create_Date )
	  	VALUES (#{user_id}, #{comment_text}, #{friend_id}, #{content_id}, #{create_date});
	</insert>

	<insert id="saveCollect" parameterType="com.asteroid.expression.user.model.Thumb" useGeneratedKeys="true" keyProperty="id">
		insert into t_collect_content (content_id, collect_id, user_id, friend_id, create_date)
		values (#{content_id}, #{collect_id}, #{user_id}, #{friend_id}, #{create_date})
	</insert>

	<delete id="cancelCollect" parameterType="com.asteroid.expression.user.model.Thumb">
		delete from t_collect_content where user_id = #{user_id} and content_id = #{content_id} and friend_id = #{friend_id}
	</delete>
	
</mapper>